In [180]:
#1 Gradient boosting regression trees are based on the idea of an ensemble method derived from a decision tree. The decision tree uses a tree structure. Starting from tree root, branching according to the conditions and heading toward the leaves, the goal leaf is the prediction result.1

In [219]:
import numpy as np
import pandas as pd
import seaborn as sns

In [220]:
df=sns.load_dataset('tips')

In [221]:
df.shape

(244, 7)

In [222]:

df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [223]:
from sklearn.preprocessing import LabelEncoder

In [224]:
encoder=LabelEncoder()

In [225]:
df['sex']=encoder.fit_transform(df['sex'])

In [226]:
df.head()

   total_bill   tip  sex smoker  day    time  size
0       16.99  1.01    0     No  Sun  Dinner     2
1       10.34  1.66    1     No  Sun  Dinner     3
2       21.01  3.50    1     No  Sun  Dinner     3
3       23.68  3.31    1     No  Sun  Dinner     2
4       24.59  3.61    0     No  Sun  Dinner     4

In [227]:
df['total_bill']=df['total_bill'].astype(str)
df['tip']=df['tip'].astype(str)

In [228]:
X=df.drop(labels=['sex'],axis=1)
Y=df.sex

In [229]:
X=X.astype(str)

In [230]:
X.head()

  total_bill   tip smoker  day    time size
0      16.99  1.01     No  Sun  Dinner    2
1      10.34  1.66     No  Sun  Dinner    3
2      21.01   3.5     No  Sun  Dinner    3
3      23.68  3.31     No  Sun  Dinner    2
4      24.59  3.61     No  Sun  Dinner    4

In [231]:
num_col=['total_bill','tip','size']
cat_col=['smoker','day','time']

In [232]:
from sklearn.model_selection import train_test_split

In [233]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,random_state=42,test_size=0.30)

In [234]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [235]:
num_pipeline=Pipeline(steps=[('imputer',SimpleImputer(strategy='median')),
                           ('standardscaler',StandardScaler())])
cat_pipeline=Pipeline(steps=[('imputer',SimpleImputer(strategy='most_frequent'))
                            ,('Onehotencoder',OneHotEncoder())])

In [236]:
processor=ColumnTransformer([('num_pipeline',num_pipeline,num_col),
                            ('cat_pipeline',cat_pipeline,cat_col)])

In [237]:
from sklearn.metrics import mean_squared_error,r2_score

In [238]:
X_train=processor.fit_transform(X_train)
X_test=processor.fit(X_test)

In [239]:
from sklearn.ensemble import GradientBoostingClassifier

In [240]:
models ={'gradientboosting':GradientBoostingClassifier()}

In [241]:
def evalute_models(X_train,Y_train,X_test,Y_test,models):
    report={}
    for i in range(len(models)):
        model=list(models.values())[i]
        model.fit(X_test,Y_test)
        Y_pred=model.predict(X_test)
        
        model_test_accuracy=r_(Y_pred,Y_test)
        report[list(models.keys())[i]]=model_test_accuracy
        
        
    return report

In [ ]:
#4The term Weak Learner refers to simple models that do only slightly better than random chance. Boosting algorithms start with a single weak learner (tree methods are overwhelmingly used here), but technically, any model will do. Boosting works as follows: Train a single weak learner.

In [ ]:
#5